# Unreal Engine generated folders
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/

# Visual Studio / Rider / VSCode
/.vs/
/.idea/
/.vscode/
*.VC.db
*.VC.opendb
*.sln

# Build artifacts and logs
*.obj
*.pdb
*.ipch
*.tlog
*.log

# OS files
.DS_Store
Thumbs.db
